.engine {
  width: 100%;
  background-color: var(--bg-warning);
}
.wrapper {
  padding: 5% 5% 0 5%;
  box-sizing: border-box;
}
.left {
  font-size: 2rem;
  position: relative;
}

.left p {
  letter-spacing: 0.1rem;
}
.leftComma,
.rightComma {
  height: 4rem;
  width: 4rem;
  position: absolute;
}
.leftComma {
  left: -4rem;
  top: 0rem;
}
.rightComma {
  right: 2rem;
  bottom: 0rem;
}
.leftComma img,
.rightComma img {
  filter: saturate(0) brightness(0);
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .leftComma {
    left: -2rem;
    top: 0rem;
  }
  .rightComma {
    right: 2rem;
    bottom: 0rem;
  }
  .left p {
    padding: 5%;
  }
}
