.aboutBike {
  width: 100%;
  background-color: #333;
}
.container {
  width: 100%;
  padding: 5%;
}
.primaryHeading {
  font-size: 6rem;
  color: var(--text-white);
  text-transform: capitalize;
  text-align: left;
  text-shadow: 0rem 1rem 1rem #000;
  margin-bottom: 2%;
}

.bike {
  font-family: "Dancing Script", cursive;
  color: var(--bg-warning);
}

.textDanger {
  color: var(--text-danger);
}

.containerContent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.containerContent div {
  flex-basis: 50%;
  flex-grow: 1;
}
.imgContainer {
  display: flex;
  align-items: flex-end;
}
.imgContainer img {
  height: 80%;
  width: 100%;
}
.actualContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.actualContent p {
  font-size: 2rem;
  color: var(--text-white);
  font-weight: 100;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}
.btnGrp {
  margin-top: 2%;
}
.btnGrp button {
  border: 0;
  outline: none;
  height: 3rem;
  width: 10rem;
  background-color: var(--bg-warning);
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
}
.hideLg {
  display: block;
}

.showMd {
  display: none;
}

@media (max-width: 1200px) {
  .primaryHeading {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  .imgContainer {
    display: flex;
    align-items: flex-start;
  }
  .hideLg {
    display: none;
  }
  .showMd {
    display: block;
    text-align: center !important;
  }
  .containerContent div {
    flex-basis: 100%;
  }
  .actualContent {
    order: 1;
  }
}
