.book {
  width: 100%;
  background-color: #333;
}

.container {
  padding: 5%;
}

.container hr {
  margin-top: 4rem;
  background-color: var(--bg-warning);
  height: 0.1rem;
  border: 0;
}

.primaryHeading {
  color: var(--text-white);
  text-transform: capitalize;
  font-size: 4.5rem;
  text-shadow: 0rem 1rem 1rem #000;
  font-weight: 400;
}

.serviceFont {
  font-family: "Dancing Script", cursive;
  color: var(--text-warning);
}

.progressSection {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.progressContainer {
  flex-basis: 25%;
}
.progressContainer label,
.detailsContainer label {
  color: var(--text-warning);
  text-transform: capitalize;
  font-size: 2rem;
}
.progressBarWrapper {
  height: 1.3rem;
  width: 90%;
  /* border: 1px solid var(--bg-warning); */
}
.progressBarWrapper p {
  height: 100%;
  width: 100%;
  background-color: var(--bg-warning);
  border-radius: 1rem;
}
.secondayHeading {
  color: var(--text-white);
  text-transform: capitalize;
  font-size: 3.5rem;
  text-shadow: 0rem 1rem 1rem #000;
  font-weight: 400;
  margin-top: 2rem;
}
.detailsSection {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}
.textWarning {
  color: var(--text-warning);
}
.detailsContainer {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}

.detailsContainer:nth-child(1) {
  margin-right: 2%;
}

.detailsContainer select {
  width: 100%;
  height: 3.5rem;
  text-transform: capitalize;
  border-radius: 5px;
}

.nextBtn {
  text-align: right;
  margin-top: 1rem;
}

.nextBtn button {
  border: 0;
  outline: none;
  height: 3.5rem;
  width: 12rem;
  background-color: var(--bg-warning);
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 600;
}

.calender {
  height: 100% !important;
  border-radius: 1rem;
}
.calender > div:nth-child(2) {
  height: calc(100% - 7rem) !important;
}

.calender > div:nth-child(2) > div {
  height: 100% !important;
}

.calender > div:nth-child(2) > div > div {
  height: 100% !important;
  align-items: flex-start !important;
}
.calender > div:nth-child(2) > div > div > div {
  height: 100% !important;
}
.calender > div:nth-child(2) > div > div > div {
  height: 100% !important;
}

.calender > div:nth-child(2) > div > div > div > div:nth-child(2) {
  height: 90% !important;
}

/* /////media queries//// */

@media (max-width: 900px) {
  .progressContainer {
    flex-basis: 50%;
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {
  .progressContainer,
  .detailsContainer {
    flex-basis: 100%;
    margin: 1rem 0;
  }
  .progressBarWrapper {
    width: 100%;
  }
  .detailsContainer select {
    width: 100%;
  }
}
