.bookNow {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container div {
  flex-basis: 50%;
}

.imgDiv img {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content p {
  font-size: 5rem;
  text-align: center;
}

.content h1 {
  font-size: 8rem;
  text-align: center;
  color: var(--text-danger);
}

.btnGrp {
  margin-top: 2%;
  text-align: center;
}
.btnGrp button {
  border: 0;
  outline: none;
  height: 4rem;
  width: 12rem;
  background-color: var(--bg-warning);
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 900px) {
  .container div {
    flex-basis: 100%;
  }
  .content {
    padding: 5%;
  }
}
