@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --nav-bg: #252509;
  --bg-warning: #fdd600;
  --bg-danger: #ff4d00;
  --bg-white: white;
  --text-danger: #ff4d00;
  --text-warning: #fdd600;
  --text-white: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 40%;
  }
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
