.myNav {
  width: 100%;
  min-height: 80px;
}

.navContainer {
  width: 100%;
  min-height: 80px;
  padding: 0 0;
  list-style: none;
  background-color: var(--nav-bg);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
}

.navContainer li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  flex-basis: 17%;
  clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
  background-color: var(--bg-warning);
  position: relative;
  justify-content: flex-start !important;
  align-self: stretch;
  padding-left: 1%;
}
.logo {
  font-size: 2.5rem;
}

.logoStyle {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}

.logo strong {
  color: var(--text-danger);
}

.navLink {
  color: var(--bg-warning);
  text-transform: capitalize;
  font-size: 2rem;
}
.navLink a:hover {
  color: var(--text-danger);
}

.searchBtn {
  flex-basis: 14%;
  justify-content: space-around !important;
}
.searchBtn i {
  color: var(--bg-warning);
  cursor: pointer;
}
.searchBtn i:hover {
  color: var(--text-danger);
}
.searchBtn button {
  background-color: var(--bg-warning);
  border: 0;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 12rem;
  height: 3.5rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.menu {
  display: none !important;
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 2;
}
.curtain span {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  display: block;
  transform-origin: bottom left;
  transition: 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.curtain span:nth-child(1) {
  background-color: red;
  transform: rotate(-90deg);
  transition-delay: 0.2s;
}
.curtain span:nth-child(2) {
  background-color: yellow;
  transform: rotate(-90deg);
  transition-delay: 0.1s;
}
.curtain span:nth-child(3) {
  background-color: #111;
  transform: rotate(-90deg);
  transition-delay: 0s;
}
.active {
  visibility: visible;
}
.curtain.active span:nth-child(1) {
  z-index: 1;
  transition-delay: 0s;
}
.curtain.active span:nth-child(2) {
  z-index: 2;
  transition-delay: 0.1s;
}
.curtain.active span:nth-child(3) {
  z-index: 3;
  transition-delay: 0.2s;
}
.curtain.active span {
  transform: rotate(0deg);
}
.curtain ul {
  position: absolute;
  z-index: 100;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
}
.curtain.active ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.7s;
}
.curtain ul li {
  list-style: none;
  margin: 10px 0;
}
.curtain ul li a {
  text-decoration: none;
  color: white;
  font-size: 4em;
  text-align: center;
  display: block;
}

/* ///////media queries//////// */
@media (max-width: 1200px) and (min-width: 901px) {
  .brand {
    flex-basis: 20%;
  }
}

@media (max-width: 900px) {
  .brand {
    flex-basis: 50%;
  }
  .navLink,
  .searchBtn {
    display: none !important;
  }
  .menu {
    display: inline-block !important;
    margin-right: 1rem;
  }
  .hamburger {
    height: 2.5rem;
    width: 5rem;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
  }
  .hamburger div {
    height: 0.5rem;
    width: 90%;
    background-color: var(--bg-warning);
    z-index: 10000;
  }
}

@media (max-width: 450px) {
  .brand {
    flex-basis: 70%;
  }
  .logo {
    margin-left: 2%;
  }
}

@media (max-width: 360px) {
  .brand {
    flex-basis: 70%;
  }
}
