.landing {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("/earth.webp");
  background-position: center;
  background-size: cover;
}

.landingContainer {
  width: 100%;
  padding: 5%;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerCircle {
  height: 40rem;
  width: 40rem;
  background-color: var(--bg-warning);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerImg {
  height: 30rem;
  width: 30rem;
  position: relative;
}
.centerImg img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -44%);
}

.card {
  height: 10rem;
  width: 25rem;
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  border-radius: 4rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(51, 51, 51, 1));
  box-shadow: 0rem 0.5rem 2rem #333;
  transition: 0.4s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left1 {
  top: 50%;
  left: -78%;
}
.left2 {
  top: 10%;
  left: -88%;
}
.left3 {
  top: 90%;
  left: -66%;
}

.right1 {
  top: 50%;
  right: -78%;
}
.right2 {
  top: 10%;
  right: -88%;
}
.right3 {
  top: 90%;
  right: -66%;
}
.card i {
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 80%;
  border-right: 2px solid white;
  flex-basis: 20%;
}

.card h1 {
  color: var(--text-white);
  text-transform: capitalize;
  flex-basis: 60%;
}
.card h1 span {
  color: var(--text-warning);
}

@media (max-width: 900px) {
  .card {
    height: 10rem;
    width: 22rem;
  }
  .left1 {
    left: -68%;
  }
  .left2 {
    left: -58%;
  }
  .left3 {
    left: -56%;
  }

  .right1 {
    right: -68%;
  }
  .right2 {
    right: -58%;
  }
  .right3 {
    right: -56%;
  }
  .card h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  .card {
    width: 19rem;
  }
  .centerCircle img {
    height: 90%;
    width: 90%;
  }
  .left2 {
    top: -43%;
    left: -24%;
  }
  .left1 {
    top: -43%;
    left: 57%;
  }
  .left3 {
    top: -8%;
    left: 18%;
  }
  .right2 {
    top: 100%;
    right: 18%;
  }
  .right1 {
    top: 137%;
    right: 61%;
  }
  .right3 {
    top: 137%;
    right: -23%;
  }
}

/* @media (max-height: 720px) and (max-width: 540px) {
  .card {
    height: 7rem;
  }
} */
